body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

.header {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    margin-left: 200px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 18px;
    color: white;
    opacity: 0.75;
    margin-right: 200px;
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding: 150px 200px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}

.sign-up-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 350px;
}

.sign-up-subtext {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
    opacity: 75%;
}

.sign-up-image {
    background: gray;
    color: white;
    opacity: 0.75;
    padding: 100px 150px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  width: 125px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

button.sign-up-1 {
  background: royalblue;
  border: 1px solid royalblue;
}

.random-info {
    background: white;
    text-align: center;
    padding-bottom: 125px;
}

.random-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.random-content {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.rounded-square {
    border: 3px solid royalblue;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.rounded-subtext {
    width: 150px;
    opacity: 60%;
    padding-top: 12px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E7EB;
    padding: 125px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    line-height: 1.2;
    width: 825px;
}

.quote-author {
    margin-left: auto;
    padding-right: 225px;
    font-size: 24px;
    font-weight: 600;
}

.call-to-action {
    background: #3882F6;
    margin: 100px 220px;
    padding: 60px 120px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.call-title {
    font-size: 22px;
    font-weight: 550;
}

.call-subtext {
    padding-top: 4px;
    font-size: 18px;
    font-weight: 300;
    opacity: 75%;
}

button.sign-up-2 {
    background:#3882F6;
    border: 2px solid white;
}

.footer {
    background: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-weight: 300;
    padding: 50px;
}